@import url(https://fonts.googleapis.com/css2?family=Play:wght@100;200;300;400;500;600;700&display=swap);

:root {
  --main: #0c2f75;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
  outline: none;
}
body {
  background: #ccc;
}
input {
  background: inherit;
  border: none;
}
header {
  padding: 10px;
  max-width: 1180px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  background: #fff;
  position: relative;
  gap: 20px;
}
.m_menu {
  width: 110px;
  height: 30px;
  background: var(--main);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  padding: 0 0px 0 3px;
  cursor: pointer;
  gap: 10px;
  text-transform: uppercase;
  display: none;
}
.m_menu i {
  /* margin-top: 2px; */
}
.logo img {
  display: block;
}
ul.menu {
  display: flex;
  gap: 25px;
}
ul.menu li a {
  color: #020202;
  text-transform: uppercase;
  font-weight: 700;
}
ul.menu li a:hover {
  color: var(--main);
}
ul.language {
  padding: 0 25px 0 0;
  max-height: 30px;
  position: absolute;
  top: 10px;
  right: 50px;
  border: 2px solid #2d2d2d;
  border-radius: 15px;
  background: #e7e7e7;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}
ul.language:before {
  content: "\f078";
  font-family: "Font Awesome 6 Free";
  font-weight: bold;
  padding: 3px;
  position: absolute;
  top: -2px;
  right: -2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border: 2px solid #2d2d2d;
  color: #2d2d2d;
}
ul.language.active {
  max-height: 118px;
}
ul.language.active:before {
  transform: rotate(180deg);
}
ul.language li {
  width: 100%;
  padding: 4px 10px;
  order: 5;
}
ul.language li.active {
  order: 1 !important;
  color: var(--main);
}
.search_bar {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100px;
  background: #fff;
  display: flex;
  align-items: stretch;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.search_bar.active {
  width: calc(100% - 250px);
  opacity: 1;
  visibility: visible;
}
.search_bar button {
  padding: 0 15px;
  font-size: 22px;
  background: inherit;
  border: none;
  color: var(--main);
}
.search_bar input {
  padding: 0 10px;
  width: 100%;
  font-size: 20px;
  color: #2d2d2d;
}
.search {
  padding: 6px;
  margin-left: auto;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background: #eee;
  color: #2d2d2d;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .logo {
    margin: auto;
  }
  .m_menu {
    display: flex;
  }
  nav {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    transition: 0.3s;
  }
  nav.active {
    left: 0;
  }
  ul.menu {
    width: 300px;
    height: 100%;
    flex-direction: column;
    background: #fff;
    gap: 0;
    border-radius: 0 30px 30px 0;
    overflow: hidden;
  }
  ul.menu li a {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
  }
  ul.menu li a:before {
    content: "";
    width: 100%;
    height: 1px;
    background: var(--main);
    border-radius: 1px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background: var(--main);
  }
  .search {
    margin-left: 80px;
  }
}
